{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/infiniteform/js/collections.js'
        output='js/application.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}



{% block form %}    
    {{ parent() }}    
    <script>
        $(document).ready(function () {
            var cmb_proveedor = $('#{{ form['proveedorSociedad'].vars.id }}');
            var cnt_items = $('#sonata-ba-field-container-{{ form['items'].vars.id }}');

            /*
             * Configurar ventana modal
             * modal-confirm-cambioproveedor
             */
            $('#modal-confirm-cambioproveedor .btn-primary').click(function () {
                var wdt_items = $('#field_widget_{{ form['items'].vars.id }}');
                wdt_items.remove();
                cmb_proveedor.prop('disabled', false);
                
                cmb_proveedor.val('').trigger('change');
                $("option[value='']", cmb_proveedor).attr('selected', true)
                
                $('#btn-cambiar_' + cmb_proveedor.attr('id')).remove();
                $('#modal-confirm-cambioproveedor').modal('hide');
            });

            /*
             * Combo de proveedores
             * Eliminar los items de la orden de pago si se cambia de proveedor.
             */
            cmb_proveedor.change(function (e) {
                if ($(this).val() !== '') {
                    $(this).prop('disabled', 'disabled');

                    var lnk_cambiar = $('<a href="">cambiar</a>');
                    lnk_cambiar.attr('id', 'btn-cambiar_' + $(this).attr('id'));
                    lnk_cambiar.click(function () {
                        $('#modal-confirm-cambioproveedor').modal();
                        return false;
                    });

                    $(this).parent().append(lnk_cambiar);
                    cnt_items.show();
                } else {
                    cnt_items.hide();
                }                
            });
            
            cmb_proveedor.trigger('change');

        });
    </script>

    <div class="modal fade" id="modal-confirm-cambioproveedor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cambiar proveedor</h4>
                </div>
                <div class="modal-body">
                    <p>Al cambiar de proveedor se eliminará el detalle de la orden de pago. ¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Cambiar proveedor</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock form %}