<td>
{% block field %}   
    <table class="table table-bordered">
        <thead>
            <th>Clasificador</th>
            <th>Bien/Servicio</th>
            <th>Escala</th>
            <th>Cantidad</th>            
            <th>Importe Unitario</th>
            <th>Importe Neto</th>
        </thead>
        <tbody>
            {% for itemSalida in value %}
            <tr>
                <td>{{ itemSalida.clasificador }}</td>
                <td>{{ itemSalida.bienServicio }}</td>
                <td>{{ itemSalida.escala }}</td>
                <td class="text-right">
                    {{ itemSalida.cantidad }}
                </td>
                <td class="text-right">
                    {{ itemSalida.documento.moneda.signoMonetario }} {{ itemSalida.precioUnitario|number_format(2, ',', '.') }}
                </td>
                <td class="text-right">
                    {{ itemSalida.documento.moneda.signoMonetario }} {{ itemSalida.importeNeto|number_format(2, ',', '.') }}
                </td>
            </tr>
            {% endfor %}   
            
            {% if( value|length >0 ) %}
                {# Se imprimieron items, por lo tanto se imprime una última fila totalizadora #}
                {% set documento = value[0].documento %}
                
                <tr>
                    <td colspan="5"><strong>Importe Neto</strong></td>
                    <td class="text-right"><strong>{{ documento.moneda.signoMonetario }} {{ documento.importeNeto|number_format(2, ',', '.') }}</strong></td>
                </tr>
            {% endif %}
            
        </tbody>
    </table>
{% endblock %}
</td>
