{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% form_theme form.items _self %}

{% block infinite_form_polycollection_row %}

    {% if form.vars.name == 'items' %}

        {{ block('itemsImputacionSecundaria_field') }}

    {% endif %}    

{% endblock %}

{% block itemsImputacionSecundaria_field %}

    <div class="collection_item">

        <div class="row">
            <div class="col-sm-3">
                <strong>Clasificador</strong>
            </div>            
            <div class="col-sm-3">
                <strong>Item documento</strong>
            </div>
            <div class="col-sm-2">
                <strong>Importe</strong>
            </div>
            <div class="col-sm-3">
                <strong>Objeto Costo</strong>
            </div>            
            <div class="col-sm-1">            
                <strong>Acciones</strong>
            </div>
        </div>

        {{ form_widget(form) }}        

        <hr>
        
        <a class="add_item btn btn-primary btn-sm" data-prototype="{{ form_row(form.vars.prototypes.itememisortype) | escape }}" href="#">
            <span class="glyphicon glyphicon-log-out"></span> Agregar Item Emisor
        </a>
        <a class="add_item btn btn-info btn-sm" data-prototype="{{ form_row(form.vars.prototypes.itemreceptortype) | escape }}" href="#">
            <span class="glyphicon glyphicon-log-in"></span> Agregar Item Receptor
        </a>
    </div>

    <script type="text/javascript">
        $(function () {

            var items = $('#{{ form.vars.id }}');
            new window.infinite.Collection(items, items.siblings('.add_item'));

            items.bind('infinite_collection_add', function (e) {

            });
        });
    </script>    

{% endblock %}

{% block itememisortype_row %}
    
    <div class="row item itememisor">
        <div class="col-sm-3">
            {{ form_widget(form.clasificador) }}
        </div>                
        <div class="col-sm-3">
            {{ form_widget(form.imputacion) }}
        </div>        
        <div class="col-sm-2">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-3">            
        </div>                
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}        
    </div>
{% endblock %}

{% block itemreceptortype_row %}
    
    <div class="row item itemreceptor">
        <div class="col-sm-3">
            {{ form_widget(form.clasificador) }}
        </div>                
        <div class="col-sm-3">
        </div>        
        <div class="col-sm-2">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-3">            
            {{ form_widget(form.objetoCosto) }}            
        </div>                
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}        
    </div>
{% endblock %}

