<td>
{% block field %}   
    <table class="table table-bordered">
        <thead>
            <th>Estado Facturación</th>
            <th>Clasificador</th>
            <th>Bien/Servicio</th>
            <th>Escala</th>
            <th>Cantidad</th>            
            <th>Importe</th>
        </thead>
        <tbody>
            {% for itemEntrada in value %}
            <tr>
                <td>{{ itemEntrada.estadoFacturacion }}</td>
                <td>{{ itemEntrada.clasificador }}</td>
                <td>{{ itemEntrada.bienServicio }}</td>
                <td>{{ itemEntrada.escala }}</td>
                <td>{{ itemEntrada.cantidad }}</td>
                <td>{{ itemEntrada.precioUnitario }}</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
{% endblock %}
</td>
