{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block infinite_form_polycollection_row %}
    <div class="collection">
        
        <div class="row">
            <div class="col-sm-2">
                <strong>Tipo</strong>
            </div>
            <div class="col-sm-3">
                <strong>Importe</strong>
            </div>
            <div class="col-sm-3">            
                <strong>Cuenta Mayor</strong>
            </div>            
            <div class="col-sm-3">            
                <strong>Cuenta Bancaria</strong>
            </div>
            <div class="col-sm-1">            
                <strong>Acciones</strong>
            </div>
        </div>
        
        {{ form_widget(form) }}        

        <a class="add_item btn btn-success btn-sm btn-outline sonata-ba-action" data-prototype="{{ form_row(form.vars.prototypes.itempagoefectivotype) | escape }}" href="#">
            <i class="glyphicon glyphicon-usd"></i>
            Agregar Pago Efectivo 
        </a>
        <a class="add_item btn btn-success btn-sm btn-outline sonata-ba-action" data-prototype="{{ form_row(form.vars.prototypes.itempagotransferenciabancariatype) | escape }}" href="#">
            <i class="glyphicon glyphicon-usd"></i>
            Agregar Pago Transferencia Bancaria
        </a>
        
    </div>

    <script type="text/javascript">
        if (!window.$) alert('jQuery not loaded');
        $(function() {
            if (!window.infinite || !window.infinite.Collection) alert('Collections helper not loaded');
            var itemsPago = $('#{{ form.vars.id }}');
            new window.infinite.Collection(itemsPago, itemsPago.siblings('.add_item'));
        });
    </script>
{% endblock %}

{% block itempagoefectivotype_row %}
    <div class="row item">
        <div class="col-sm-2">
            Efectivo
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.cuenta) }}
        </div>        
        <div class="col-sm-3">            
            &nbsp;
        </div>
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock %}
 
{% block itempagotransferenciabancariatype_row %}
    <div class="row item">
        <div class="col-sm-2">
            Transferencia Bancaria
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-3">            
            {{ form_widget(form.cuenta) }}
        </div>        
        <div class="col-sm-3">            
            {{ form_widget(form.cuentaBancaria) }}
        </div>
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock %}