{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block infinite_form_polycollection_row %}
    
    {% if form.vars.name == 'items' %}
        
        {{ block('itemsOrdenPago_field') }}
        
    {% elseif form.vars.name == 'itemsPago' %}
        
        {{ block('itemsPago_field') }}
        
    {% endif %}    
    
{% endblock %}

{% block itemsOrdenPago_field %}

    <div class="collection_itemordenpago">

        <div class="row">
            <div class="col-sm-4">
                <strong>Clasificador</strong>
            </div>
            <div class="col-sm-3">
                <strong>Importe</strong>
            </div>
            <div class="col-sm-4">            
                <strong>Movimiento Acreedor</strong>
            </div>            
            <div class="col-sm-1">            
                <strong>Acciones</strong>
            </div>
        </div>

        {{ form_widget(form) }}        

        <a class="add_itemordenpago btn btn-success btn-sm btn-outline sonata-ba-action" data-prototype="{{ form_row(form.vars.prototypes.itemordenpagotype) | escape }}" href="#">
            <i class="glyphicon glyphicon-usd"></i>
            Agregar Item
        </a>
    </div>

    <script type="text/javascript">
        $( function() {
            
            var items = $('#{{ form.vars.id }}');
            new window.infinite.Collection(items, items.siblings('.add_itemordenpago'));
            
            items.bind('infinite_collection_add', function ( e ){                

                $('.gestionMovimientoAcreedor', e.$row).empty();

                var gestionMovimientoListPath = '{{ path('pronit_ordenespago_renderGestionMovimientoList', { id: '__id__' } ) }}';
                gestionMovimientoListPath = gestionMovimientoListPath.replace('__id__', cmb_proveedor.val());
        
                $.ajax( { url: gestionMovimientoListPath, success: function(result){

                    for(var i in result.options) {

                        $('.gestionMovimientoAcreedor', e.$row).append($('<option>', {
                            value: i,
                            text: result.options[i]
                        }));                        
                    }
                }});            

            });
        });
    </script>    
    
{% endblock %}

{% block itemordenpagotype_row %}
    <div class="row item itemordenpago">
        <div class="col-sm-4">
            {{ form_widget(form.clasificador) }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-4">
            
            {% if ( form.vars.data is not null and form.vars.data.id != '' ) %}
                {{ form_widget(form.gestionMovimientoAcreedor, { 'attr':{'disabled':'disabled'} }) }}
            {% else %}
                {{ form_widget(form.gestionMovimientoAcreedor) }}
            {% endif %}
            
        </div>        
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}        
    </div>
{% endblock %}

{% block itemsPago_field %}
    
    <div class="collection">

        <div class="row">
            <div class="col-sm-2">
                <strong>Tipo</strong>
            </div>
            <div class="col-sm-3">
                <strong>Importe</strong>
            </div>
            <div class="col-sm-3">            
                <strong>Cuenta Mayor</strong>
            </div>            
            <div class="col-sm-3">            
                <strong>Cuenta Bancaria</strong>
            </div>
            <div class="col-sm-1">            
                <strong>Acciones</strong>
            </div>
        </div>

        {{ form_widget(form) }}        

        <a class="add_item btn btn-success btn-sm btn-outline sonata-ba-action" data-prototype="{{ form_row(form.vars.prototypes.itempagoefectivotype) | escape }}" href="#">
            <i class="glyphicon glyphicon-usd"></i>
            Agregar Pago Efectivo 
        </a>
        <a class="add_item btn btn-success btn-sm btn-outline sonata-ba-action" data-prototype="{{ form_row(form.vars.prototypes.itempagotransferenciabancariatype) | escape }}" href="#">
            <i class="glyphicon glyphicon-usd"></i>
            Agregar Pago Transferencia Bancaria
        </a>

    </div>

    <script type="text/javascript">
        if (!window.$) alert('jQuery not loaded');
        $(function() {
            if (!window.infinite || !window.infinite.Collection) alert('Collections helper not loaded');
            var itemsPago = $('#{{ form.vars.id }}');
            new window.infinite.Collection(itemsPago, itemsPago.siblings('.add_item'));
        });
    </script>    
{% endblock %}


{% block itempagoefectivotype_row %}
    <div class="row item">
        <div class="col-sm-2">
            Efectivo
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.cuenta) }}
        </div>        
        <div class="col-sm-3">            
            &nbsp;
        </div>
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock %}
 
{% block itempagotransferenciabancariatype_row %}
    <div class="row item">
        <div class="col-sm-2">
            Transferencia Bancaria
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.importe) }}
        </div>
        <div class="col-sm-3">            
            {{ form_widget(form.cuenta) }}
        </div>        
        <div class="col-sm-3">            
            {{ form_widget(form.cuentaBancaria) }}
        </div>
        <div class="col-sm-1">            
            <a class="remove_item" href="#">Eliminar</a>            
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock %}