<td>
{% block field %}   
    <table class="table table-bordered">
        <thead>
            <th>Estado Entrega</th>            
            <th>Clasificador</th>
            <th>Bien/Servicio</th>
            <th>Escala</th>
            <th>Cantidad</th>            
            <th>Importe Unitario</th>
            <th>Importe Neto</th>
        </thead>
        <tbody>
            {% for itemPedido in value %}
            <tr>
                <td>{{ itemPedido.estadoEntrega }}</td>
                <td>{{ itemPedido.clasificador }}</td>
                <td>{{ itemPedido.bienServicio }}</td>
                <td>{{ itemPedido.escala }}</td>
                <td class="text-right">
                    {{ itemPedido.cantidad }}
                </td>
                <td class="text-right">
                    {{ itemPedido.documento.moneda.signoMonetario }} {{ itemPedido.precioUnitario|number_format(2, ',', '.') }}
                </td>
                <td class="text-right">
                    {{ itemPedido.documento.moneda.signoMonetario }} {{ itemPedido.importeNeto|number_format(2, ',', '.') }}
                </td>
            </tr>
            {% endfor %}
            
            {% if( value|length >0 ) %}
                {# Se imprimieron items, por lo tanto se imprime una última fila totalizadora #}
                {% set documento = value[0].documento %}
                
                <tr>
                    <td colspan="6"><strong>Importe Neto</strong></td>
                    <td class="text-right"><strong>{{ documento.moneda.signoMonetario }} {{ documento.importeNeto|number_format(2, ',', '.') }}</strong></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
</td>
